<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mk.mapper.WriteMapper">

<select id="readUser" resultType="org.mk.domain.UserInfo">
		select * from userinfo where id = #{id}
</select>

<insert id="userRegist" statementType="CALLABLE">
	call user_register(#{id},#{pw},#{nickName},#{eMail})
</insert>

<select id="takeBookCount" resultType="int">

	select count(*) from bookinfo where usercode = #{ucode}
</select>

<select id="getList" resultType = "org.mk.domain.BookInfo">
	select bookCode, bookName,bookEx,bookGenre,bookCover, dateDate from bookinfo where usercode = #{ucode}
</select>
<select id="getFind" 	resultType="org.mk.domain.BookInfo">
	select * from bookinfo where bookCode = #{bookCode}
</select>

<select id="getChap" resultType="org.mk.domain.BookContent">
	select * from bookcontent where bookCode = #{bookCode}
</select>

<select id="editNovel" resultType="org.mk.domain.BookContent">
	select * from bookcontent where bookCode = #{bookCode} and chapName = #{chapName}

</select>

<select id="bookList" resultType="org.mk.domain.BookList">
	select bookCode,bookName, usercode, count, dateDate
		from 
			(select * from chapcount AS a
			inner join
			(select bookCode as bcode,bookName,userCode,dateDate from bookinfo) AS b
		on a.bookCode = bcode where usercode = #{ucode}) AS cnt
</select>

<select id="chapCount" resultType="int">
	select count from chapcount where bookCode = #{bookCode}
</select>


</mapper>
