
html{
    width: 100%;
    height: 100%;

}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;


}
.editor_bg{
    width: 60%;
    height: 95%;
    position: absolute;
    display: inline-block;
    left: 21%;    
}

.tool_bar{
    width: 20%;
    height: 100%;
    background-color: #afadad;
    display: none;
    margin-right: 5px;
    position: absolute;
}

#n_title{
width: 100%;
    height: 5%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* 하이퍼링크 파란색 없애는 기능 */
a:link { color: red; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}


