    body,html{
        height: 100%;
        width: 100%;
        margin:0;
        padding:0;

}


 /* 책표지 영역 */
 .content_area{
    width: 80%;
    margin: auto;
    height: 100%;
    margin-top: 5%;
   
}

.book_list{

    width: 90%;
    margin-top: 10%;
    margin: auto;
    height: 100%;
    

}
.book1{
    position: relative;
    width: 100%;
    height: 25%;
    
    padding-top: 2%;
}
.book_img{
    position: relative;
    display: inline-block;
    width: 13%;
    height: 100%; 
    text-align: center;
}

.title_area{
    width: 85%;
    height: 100%;
    display: inline-block;
    float: right;
    margin-left: 2%;
}

.title_line{
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    height: 20%;
    font-weight: bold;
    font-size: 24px;
    
}
.book_line{
    
    padding-top: 10px;
    display: block;
    width: 100%;
    height: 20%;
    font-weight: bold;
    color: #4e4e4e;
     font-size: 16px;
   
    
} 

.book_img img{
    width: 100%;
    height: 100%;


}


/* 책표지 영역 끝*/


/* 챕터 영역 */

.chapList{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;

}

.chapBox{
    width: 100%;
    height: 20%;
   
    
}

.chap_line{
    width: 100%;
    height: 100%;
    border: 1px solid #B5E7ED;
    margin-top: 35px;
   
}


.chapName{

    font-size: 18px;
    padding-left: 15px;
    font-weight: bold;
    
}

.chapInfo{
    
   
    padding-left: 16px;
   
}




.bookInfo{
    width: 100%;
    height: 100%;
    
}
.fixButton{
    font-size: 18px;
    cursor: pointer;
}
.chapText{
    font-size: 18px;
    margin-left: 9px;
}

.blank{
    display: inline-block;
    vertical-align: middle;
    height: 30%;
    
}

.notBox{
	position: relative;
    border: 1px solid rgb(156, 156, 243);
    left: 42%;
    width: 14%;
    height: 35%;
    background-color: white;
    font-size: 18px;
		
}


.notBox:hover{
	background-color: rgb(245, 245, 245);
	
	
	
}



/* 챕터 영역 끝*/

    .bookInfo p{
        margin-top: 20px;
        margin-bottom: 20px;
    }


     /* 공통영역 */
    ul{
       
        margin: 0px;
        padding: 0px;
    }
    li{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    div{
        -ms-user-select: none; 
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
         /* 공통영역 끝*/

    