html, body{
    padding : 0;
    margin : 0;
    width: 100%;
    height: 100%;
}




.bookCage{
    position: relative;
    top: 15%;
    }

.lno img{
    display: block;
    margin-left: auto;
    width: 43%;
    }


.listBar{

    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    top:5%;
    

}


.bookList{
   
    width: 70%;
    height: 10%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #d8d6d6;

}

.bookList:hover{
    background-color: #faf9f9;
}



.dir{

    width: 70%;
    height: 10%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

}
.back{

    width: 70%;
    height: 10%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

}

.backBar{
    width: 2%;
    margin-left: 4%;
    padding: 5px;
    text-align: center;

}


.backBar:hover{
    background-color: #e0dcdc;
    text-decoration: underline;
    cursor: pointer;
}

.back:hover{
    background-color: #f1eded;
}



/* 공통부분 */

    ul{

    list-style:none;
    padding-left:0px;
  
}

.bname:hover{
    text-decoration: underline;
    cursor: pointer;
}

.listBar div{
    text-align: center;
    display : inline-block;
    
}

.bookList li{
    display: inline-block;
    height: 100%;
}

.dir li{
    height: 100%;
}